<div class="columns">
    <article class="post column is-8 is-offset-2 has-background-light">
        <div class="title my-3">
            <a href="/post/{{id}}">{{title}}</a>
        </div>
        {{#if "/single-post"}}
        <p class="has-text-info my-2">
            {{contents}}
        </p>
        {{/if}}
        <div class="meta">
            Created by {{user.username}} on {{format_date created_at}}
            |
            <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
        </div>
    </article>
</div>